In [47]:
import numpy as np
import pandas as pd

In [48]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
print(pop)

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [49]:
print(pop[('California', 2000):('Texas', 2000)])

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [50]:
print(pop[[i   for i in pop.index if i[1] == 2000]])

(California, 2000)    33871648
(New York, 2000)      18976457
(Texas, 2000)         20851820
dtype: int64

In [51]:

print(pop)
print('--------pd.MultiIndex.from_tuples(index)-----------')
index = pd.MultiIndex.from_tuples(index)
print(index)

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64
--------pd.MultiIndex.from_tuples(index)-----------
MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [52]:
pop = pop.reindex(index)
print(pop)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [53]:

print(pop[:, 2010])
#print(pop['Texas'])

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [54]:

print(pop)
print('---pop.unstack()----')
pop_df = pop.unstack()
print(pop_df)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
---pop.unstack()----
                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [55]:

print(pop_df)
print('---pop.stack()----')
print(pop_df.stack())

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561
---pop.stack()----
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [56]:
pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
print(pop_df)
print('---pop.stack()----')
print(pop_df.stack())

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014
---pop.stack()----
California  2000  total      33871648
                  under18     9267089
            2010  total      37253956
                  under18     9284094
New York    2000  total      18976457
                  under18     4687374
            2010  total      19378102
                  under18     4318033
Texas       2000  total      20851820
                  under18     5906301
            2010  total      25145561
                  under18     6879014
dtype: int64

In [57]:

f_u18 = pop_df['under18'] / pop_df['total']
print(f_u18)
print('------f_u18.unstack()-------')
print(f_u18.unstack())

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64
------f_u18.unstack()-------
                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [58]:
df = pd.DataFrame(np.random.rand(4, 2),  # 4*2 = 8
                  index=[['English', 'English', 'Chinese', 'Chinese'], 
                         ['like','dislike','like','dislike']],  # 4 + 4
                  columns=['girl', 'boy'])
print(df)
print('---MultiIndex.from_product()笛卡尔积外积----')
df2 = pd.DataFrame(np.random.rand(4, 2), 
                   index=pd.MultiIndex.from_product([['English','Chinese'],
                                                     ['like','dislike']]), # 2*2 = 4
                   columns= ['girl', 'boy']) # 2
print(df2)    # 创建多级 行 索引

                     girl       boy
English like     0.514495  0.662826
        dislike  0.806056  0.999680
Chinese like     0.117809  0.258319
        dislike  0.220493  0.230777
---MultiIndex.from_product()笛卡尔积外积----
                     girl       boy
English like     0.322256  0.157429
        dislike  0.990513  0.419998
Chinese like     0.472899  0.796494
        dislike  0.438523  0.357155

In [59]:
df1 = pd.DataFrame(np.random.randint(80, 120, size=(2, 4)),
                   index= ['girl', 'boy'],
                   columns=[['English', 'English', 'Chinese', 'Chinese'],
                         ['like', 'dislike', 'like', 'dislike']])

print(df1)    # 创建多级 列 索引

     English         Chinese
        like dislike    like dislike
girl      87     103      89      80
boy       97     116      97      86

In [60]:

data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
print(pd.Series(data))

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [61]:

print(pd.MultiIndex.from_arrays([ ['a', 'a', 'b', 'b'], [1, 2, 1, 2] ]))

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [62]:

print(pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)]))

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [63]:
print(pd.MultiIndex.from_product([['a', 'b'], [1, 2]]))

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [64]:

print(pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
                    codes=[[0, 0, 1, 1], [0, 1, 0, 1]]))

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [65]:

print(pop)
print('------pop.index.names------')
pop.index.names = ['state', 'year']
print(pop)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
------pop.index.names------
state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [66]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit']) # 2*2
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type']) # 3*2
print(index)
print(columns)
# 模拟数据
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
# 创建DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

MultiIndex([(2013, 1),
            (2013, 2),
            (2014, 1),
            (2014, 2)],
           names=['year', 'visit'])
MultiIndex([(  'Bob',   'HR'),
            (  'Bob', 'Temp'),
            ('Guido',   'HR'),
            ('Guido', 'Temp'),
            (  'Sue',   'HR'),
            (  'Sue', 'Temp')],
           names=['subject', 'type'])

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      37.0  36.4  24.0  36.1  31.0  36.3
     2      41.0  36.0  22.0  36.6  43.0  38.3
2014 1      28.0  36.3  69.0  38.9  43.0  39.1
     2      42.0  38.1  27.0  36.5  43.0  39.8

In [67]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      24.0  36.1
     2      22.0  36.6
2014 1      69.0  38.9
     2      27.0  36.5

In [68]:
print(pop)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [69]:
print(pop['California', 2000])

33871648

In [70]:
print(pop['Texas'])
print(pop[:, 2000])

year
2000    20851820
2010    25145561
dtype: int64
state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [71]:

print(pop.loc['California':'New York'])

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [72]:

print(pop[:, 2000])

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [73]:
print(pop[pop > 22000000])

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [74]:

print(pop[ ['California', 'Texas'] ])

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [75]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      37.0  36.4  24.0  36.1  31.0  36.3
     2      41.0  36.0  22.0  36.6  43.0  38.3
2014 1      28.0  36.3  69.0  38.9  43.0  39.1
     2      42.0  38.1  27.0  36.5  43.0  39.8

In [76]:

print(health_data['Guido', 'HR'])

year  visit
2013  1        24.0
      2        22.0
2014  1        69.0
      2        27.0
Name: (Guido, HR), dtype: float64

In [77]:

health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      37.0  36.4
     2      41.0  36.0

In [78]:

# 行索引 和 列索引
print(health_data.loc[:, ('Bob', 'HR')])

year  visit
2013  1        37.0
      2        41.0
2014  1        28.0
      2        42.0
Name: (Bob, HR), dtype: float64

In [79]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      37.0  24.0  31.0
2014 1      28.0  69.0  43.0

In [80]:

index = pd.MultiIndex.from_product([ ['a', 'c', 'b'], [1, 2] ])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
print(data)

char  int
a     1      0.552196
      2      0.364776
c     1      0.838960
      2      0.441186
b     1      0.194080
      2      0.689588
dtype: float64

In [81]:

try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [82]:

data = data.sort_index()
print(data)

char  int
a     1      0.552196
      2      0.364776
b     1      0.194080
      2      0.689588
c     1      0.838960
      2      0.441186
dtype: float64

In [83]:
print(pop)
print('-----pop.reset_index---- ')
pop_flat = pop.reset_index(name='population')
print(pop_flat)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
-----pop.reset_index----
        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [84]:

print(data['a':'b'])

char  int
a     1      0.552196
      2      0.364776
b     1      0.194080
      2      0.689588
dtype: float64

In [85]:

print(pop)
print('-----unstack(level=0)---- ')
print(pop.unstack(level=0))

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
-----unstack(level=0)----
state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [86]:

print(pop)
print('-----unstack(level=1)---- ')
print(pop.unstack(level=1))

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
-----unstack(level=1)----
year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [87]:

print(pop.unstack().stack())

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [88]:
print(pop)
print('-----pop.reset_index---- ')
pop_flat = pop.reset_index(name='population')
print(pop_flat)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
-----pop.reset_index----
        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [89]:

print(pop)
print('------pop.index.names------')
pop.index.names = ['state', 'year']
print(pop)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
------pop.index.names------
state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [90]:

pop_flat.set_index(['state', 'year'])
print(pop_flat)

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [91]:

health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      37.0  36.4  24.0  36.1  31.0  36.3
     2      41.0  36.0  22.0  36.6  43.0  38.3
2014 1      28.0  36.3  69.0  38.9  43.0  39.1
     2      42.0  38.1  27.0  36.5  43.0  39.8

In [92]:

data_mean = health_data.mean(level='year')
data_mean

C:\Users\XIESEN~1\AppData\Local\Temp/ipykernel_13928/3612183596.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data_mean = health_data.mean(level='year')

subject   Bob       Guido          Sue
type       HR  Temp    HR   Temp    HR   Temp
year
2013     39.0  36.2  23.0  36.35  37.0  37.30
2014     35.0  37.2  48.0  37.70  43.0  39.45