In [6]:
import numpy as np
import pandas as pd

In [7]:
# 默认行和列标签从0开始计数
data = [6,3,2,5]
df = pd.DataFrame(data)
print(df)
#    0
# 0  6
# 1  3
# 2  2
# 3  5

   0
0  6
1  3
2  2
3  5

In [8]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data, columns=['Name','Age'])
print(df)
#      Name  Age
# 0    Alex   10
# 1     Bob   12
# 2  Clarke   13

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [5]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)
#     Name  Age
# 0    Tom   28
# 1   Jack   34
# 2  Steve   29
# 3  Ricky   42

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [9]:
df = pd.DataFrame(np.random.randn(4, 4),
index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])
print(df)
#           A         B         C         D
# a  0.381720 -0.134319  0.276336  0.927901
# b  0.905183 -0.707632  0.150454 -1.229599
# c -0.165328  1.834757  1.301909 -0.444526
# d -0.434927 -0.951217 -0.823918  0.568995

          A         B         C         D
a -0.032531  1.158854  1.385942  1.603990
b  0.179757  0.472554  2.778947 -0.134397
c -0.497872  0.367113  0.272927 -2.299399
d  1.348861  0.451420  0.973752 -0.792014

In [10]:
print(df.loc[:,'A'])

a   -0.032531
b    0.179757
c   -0.497872
d    1.348861
Name: A, dtype: float64

In [11]:
# 缺省列切片，等价于df.loc['a',:]
print(df.loc['a'])

A   -0.032531
B    1.158854
C    1.385942
D    1.603990
Name: a, dtype: float64